# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDes
*.idea
*.vs

# Production Files
cmake-build-relwithdebinfo/*.csv
cmake-build-relwithdebinfo/*.txt
cmake-build-relwithdebinfo/*.csv
*.vs